body{
	/*padding-top: 60px;*/
	/*font-size: 14px;*/
	font-family: "Century Gothic","Microsoft yahei";
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	margin-top:25px;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #ddd;
}

.h10 {height:10px;}
.h20 {height:20px;}


#scrollUp {
  bottom: 20px;
  right: 20px;
  height: 38px;  /* Height of image */
  width: 38px; /* Width of image */
  background: url("../images/top.png") no-repeat;
}
/*jnotify css∏Ò Ω*/
#jNotify {
	position:absolute;
	background:#d8e6fc  url(../images/info.png) no-repeat 15px center;
	color:#35517c;
	border:1px solid #a7c3f0;
	padding:10px;
	padding-left:50px;
	margin:15px;
	z-index:9999;
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jNotify a {color:#35517c !important;text-decoration:none;}

/******************/
/** jSuccess CSS **/
/******************/
#jSuccess {
	position:absolute;
	background:#E6EFC2  url(../images/success.png) no-repeat 15px center;
	color:#264409;
	border:1px solid #C6D880;
	padding:10px;
	padding-left:50px;
	margin:15px;
	z-index:9999;
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jSuccess a {color:#264409 !important;text-decoration:none;}

/****************/
/** jError CSS **/
/****************/
#jError {
	position:absolute;
	background:#FBE3E4  url(../images/error.png) no-repeat 15px center;
	color:#8a1f11;
	border:1px solid #FBC2C4;
	padding:10px;
	padding-left:50px;
	margin:15px;
	z-index:9999;
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jError a {color:#8a1f11 !important;text-decoration:none;}

/** OVERLAY **/
#jOverlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9998
}
.sliders-li {width: 100%; float: left; margin-right: -100%; position: relative; display: none;}
.oimg{opacity:0.6;filter:alpha(opacity=60);}
.oimg:hover{opacity:0.9;filter:alpha(opacity=90);}
.mainbox{height:300px;margin-top:20px;}
